# Ignore everything
*

# Except code and dataset
!.gitignore
!README.md
!requirements.txt
!Makefile
!run.py
!config/
!config/**
!src/
!src/**
!dataset/
!dataset/**
!research/
!research/**

# Still ignore Python artifacts inside allowed dirs
**/__pycache__/
**/*.py[cod]
